.img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: rgba(146, 144, 144, 0.6);
}

.img-sub {
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

.modal > .m-body > form {
    max-width: 350px;
    margin: 0 auto;
}

.modal > .m-body > form > span:before {
    font-family: 'FontAwesome';
    content: "\f2bd";
    font-size: 150px;
    text-align: center;
    display: block;
    color: #747474;
}

.modal > .m-body > form > .input {
    margin: 25px auto 0 auto;
}

.modal > .m-body > form > input[type="button"] {
    margin: 25px 25px 0 0;
}

.modal > .m-body {
    padding-bottom: 95px;
    position: relative;
    z-index: 500;
}

.modal > .m-body > form > .link {
    float: left;
    margin: 35px 0 0 25px;
}

.modal > .close-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}